<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
    <title>project page</title>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">NERDSOLOMON</a>
        <div class="collapse navbar-collapse" id="navbarNav">
         <div class="row g-0">
          <div class="col">
     <a class="nav-link link-light active" href="/">Home</a>
          </div>
          <div class="col">
     <a class="nav-link link-light" href="/friends">Friends</a>
          </div>
          <div class="col">
   <a class="nav-link link-light" href="/projects">Projects</a>
          </div>
          <div class="col">
    <a class="nav-link link-light" href="/cgpa-cal">CGPA</a>
          </div>
     {% if current_user.is_authenticated %}
          <div class="col">
     <a class="nav-link link-light" href="/user">Admin</a>
          </div>
     <a class="nav-link link-light" href="/user-logout">Logout</a>
     {% else %}
     <a class="nav-link link-light" href="/user-login">Login</a>
     {% endif %}
  
         </div>
        </div>
      </div>
    </nav>
<div class='container'>

{% if current_user.is_authenticated %}
{% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <small>{{ message }}</small>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}
{% endif %}

<br/>
<h6>All Projects</h6>

{% if current_user.is_authenticated %}
<a href="{{url_for('add_project')}}" class="btn btn-outline-secondary btn-sm">Add Project</a>
{% endif %}

<br/>
   {% for post in posted %}
<h6><a class="nav-link" href="{{url_for('project_details', type=post.id)}}"> {{ post.title }}</a></h6>
<small>{{ post.body }}</small>
<br/><br/>
   {% endfor %}

</div>

   <script src="/static/script.js"></script>
  </body>
</html>